.mdl-layout-transparent {
  background: url("../images/light-bulb.jpg") center/cover; }

.mdl-layout-transparent .mdl-layout__header,
.mdl-layout-transparent .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.87); }

.my-background {
  background-color: white; }

.list {
  margin-left: 1%; }

.container {
  width: 95%;
  margin: auto;
  margin-top: 15px; }

.my-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#list-display {
  display: none; }

.my-font {
  font-family: Montserrat, sans-serif;
  font-weight: lighter; }

table {
  font-family: Montserrat, sans-serif; }

.center-grid {
  justify-content: center;
  align-items: center; }

.list-name {
  text-transform: capitalize; }

.create-task {
  display: none;
  background-color: white; }

.save-btn {
  display: none; }

.visible {
  display: inline !important; }

.mdl-chip {
  display: none; }
